// fonts variable
$fontNavs : 'Zilla Slab', serif;
$fontBody : 'Yanone Kaffeesatz', sans-serif;
$fontBold : 'Fraunces', serif;
$fontData : 'Bree Serif', serif;

// color variables
$bginfo : rgb(116, 116, 116);
$clinfo : rgb(255, 215, 155);
$ijopbr : rgb(85, 255, 85);

html, body {
    font-size: 18px;
    height: 100%;
    width: 100%;
}

// login page
.loginpage {
    background: linear-gradient(to top , rgba(0, 100, 8, 0.6),rgba(211, 211, 211, 0.5)) , url('https://pabhara.nugrahamedia.web.id/img/5.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}
.logincard { opacity: 0.85; }
.cardheader { font-family: $fontNavs; }
// navbar
nav{
    font-family: $fontNavs;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 25px;
    div.collapse > ul.navbar-nav > li.nav-item > a.nav-link {
        color: white;
    }
}

.icon48 { font-size: 18px; }

body,li{
    font-family: $fontBody;
    font-size: 18px;
}

th { font-family: $fontBold; }
label, td{ font-family: $fontData; }
input, select, option { font-family: $fontNavs; }

// halman guru
.guru-list{
    font-size: 22px;
}
.jurnal-result { background-color: $bginfo; color: $clinfo; padding: 5px 15px; font-size: 24px;}

// halaman siswa
.pageTitle {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: $ijopbr;
    color: black;
}
.siswaProperties{
    min-width: 50px; 
    background-color: rgb(221, 221, 221); 
    margin-right: 1px; 
    padding: 0px 15px;
    border: 1px solid rgb(211, 211, 255);
    margin-top: 0.8rem;
}