html, body {
  font-size: 18px;
  height: 100%;
  width: 100%;
}

.loginpage {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 100, 8, 0.6)), to(rgba(211, 211, 211, 0.5))), url("https://pabhara.nugrahamedia.web.id/img/5.jpg");
  background: linear-gradient(to top, rgba(0, 100, 8, 0.6), rgba(211, 211, 211, 0.5)), url("https://pabhara.nugrahamedia.web.id/img/5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logincard {
  opacity: 0.85;
}

.cardheader {
  font-family: "Zilla Slab", serif;
}

nav {
  font-family: "Zilla Slab", serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 25px;
}

nav div.collapse > ul.navbar-nav > li.nav-item > a.nav-link {
  color: white;
}

.icon48 {
  font-size: 18px;
}

body, li {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 18px;
}

th {
  font-family: "Fraunces", serif;
}

label, td {
  font-family: "Bree Serif", serif;
}

input, select, option {
  font-family: "Zilla Slab", serif;
}

.guru-list {
  font-size: 22px;
}

.jurnal-result {
  background-color: #747474;
  color: #ffd79b;
  padding: 5px 15px;
  font-size: 24px;
}

.pageTitle {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: #55ff55;
  color: black;
}

.siswaProperties {
  min-width: 50px;
  background-color: #dddddd;
  margin-right: 1px;
  padding: 0px 15px;
  border: 1px solid #d3d3ff;
  margin-top: 0.8rem;
}
/*# sourceMappingURL=pbrakit.css.map */